@import '_variables';
@import '_reboot';

#jenkins {
  #page-head {
    #header {
    }
  }

  #page-body {
    #side-panel {
      #tasks {
        .task {
          a {
            &:visited {
              color: $link-color-visited;
            }
          }
        }
      }
    }
    #main-panel {
      #view-message {}
      .dashboard {
        #projectstatus-tabBar {
          .tabBarFrame {
            .tabBar {
              .tab {
                a {
                }
              }
            }
          }
        }
        .pane-frame {
          table#projectstatus {
            tbody {
              tr {
                &.header {
                  th {
                    &:nth-child(1), &:nth-child(2) {
                      text-align: center;
                    }
                  }
                }
                &:not(.header) {
                  td {
                    padding: 6px 0;
                  }
                }
                td {
                  &:nth-child(1), &:nth-child(2) {
                    text-align: center;
                  }
                  img {
                  }
                  a {
                    text-decoration: none;
                    &:visited {
                      color: $link-color-visited;
                    }
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
