$link-color: #204A87;
$link-color-visited: $link-color;

#jenkins {
  #page-head {
    #header {
    }
  }

  #page-body {
    #side-panel {
      #tasks {
        .task {
          a {
            &:visited {
              color: $link-color-visited;
            }
          }
        }
      }
    }
    #main-panel {
      #view-message {}
      .dashboard {
        #projectstatus-tabBar {
          .tabBarFrame {
            .tabBar {
              .tab {
                a {
                  font-size: .8rem;
                }
              }
            }
          }
        }
        .pane-frame {
          table#projectstatus {
            tbody {
              tr {
                &.header {
                  th {
                    font-weight: 500;
                    font-size: .7rem;
                  }
                }
                &:nth-child(2), &:nth-child(1) {
                  text-align: center;
                }
                td {
                  img {
                    width: 16px !important;
                    height: 16px !important;
                  }
                  a {
                    font-size: .8rem;
                    text-decoration: none;
                    &:visited {
                      color: $link-color-visited;
                    }
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
