$link-color: #204A87;
$link-color-visited: $link-color;

#page-head {
  #header {
  }
}

#page-body {
  #side-panel {
    #tasks {
      .task {
        a {
          &:visited {
            color: $link-color-visited;
          }
        }
      }
    }
  }
  #main-panel {
    #view-message {}
    .dashboard {
      #projectstatus-tabBar {
        .pane-frame {
          table#projectstatus {
            tbody {
              tr {
                a {
                  text-decoration: none;
                  &:visited {
                    color: $link-color-visited;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
